body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.left {
    width: 40vw;
    display: flex;
    flex-direction: column;
    background-image: url(photos/photo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.header {
    margin-top: 230px;
    background-color: black;
    opacity: 0.3;
}

.footer {
    background-color: grey;
    opacity: 0.8;
}

.right {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.top {
    background-color: violet;
    flex-grow: 1;
}

.middle {
    background-color: purple;
    flex-grow: 1;
}

.bottom {
    background-color: lightgreen;
    flex-grow: 1;
}