@import url(fonts/Norse-Bold.otf);

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.left {
    width: 40vw;
    display: flex;
    flex-direction: column;
    background-image: url(photos/photo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.header {
    display: flex;
    margin-top: 230px;
    background-color: rgb(0, 0, 0, 0.4);
    font-family: 'Norse', 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    padding: 16px;
}

.odin {
    max-width: 100px;
    height: auto;
    flex: 1 1 auto;
}

.footer {
    color: white;
    text-align: center;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.right {
    width: 70vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.top { 
    display: flex;
    background-color: #e9dfdf;
    flex: 1 1 auto;
    align-items: flex-end;
}

.top-text {
    font-size: 24px;
    font-weight: bold;
    width: clamp(45ch, 75%, 75ch);
    margin-left: 32px;
}

.middle {
    display: flex;
    background-color: #d8d2d2;
    flex: 1 1 auto;
}

.bottom {
    display: flex;
    background-color: #e9dfdf;
    flex: 1 1 auto;
}

fieldset {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    margin-left: 32px;
    border: none;
}

legend {
    font-size: 24px;
    margin-left: -12px;
    margin-bottom: 24px;
    font-weight: bold;
}

input, label {
    display: block;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

input {
    width: 200px;
    height: 30px;
    border: solid #E5E7EB 1px;
    outline: none;
}

input:focus {
    border: solid blue 2px;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3);
}

input:invalid {
    border: solid red 2px;
}

button {
    background-color: #596D48;
    color: white;
    border: solid grey 1px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    filter: brightness(0.9);
}

.create-account {
    margin-top: 32px;
    margin-left: 32px;
}

a.log-in:link {
    color: #596D48;
}

a.log-in:visited {
    color: #596D48;
}